certifi==2022.6.15
click==8.0.4
Flask==2.1.0
gunicorn==20.1.0
importlib-metadata==4.11.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.1.1
pip==21.2.2
setuptools==61.2.0
typing_extensions==4.1.1
Werkzeug==2.0.3
wheel==0.37.1
zipp==3.8.0
